 #pagewrap {
        display: grid;
         grid-gap: 0em;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
             "link4"
             "link5"
             "link6"
             "link7"
             "link8"
             "link9"
             "link10"
             "link11"
             "link12"
             "link13"
             "link14"
             "citeret"
             "virk"
             "formodel"
             "kendesigselv"
             "mission"
             "metode"
             "arketyper"
             "business"
             "busbilleder"
             "value"
             "kunde"
             "valueet"
             "match"
             "opgbilled"
             "andet"
             "footer";
    }
  
#pagewrap {
        width: 100%;
    }
    body {
        background-color: bisque;}

    body, html {
        margin: 1 em;
        padding: 0;
        width: 100%;}
    
header  {
    grid-area: header;
    padding-bottom: 0;
    width: 100%;
     
    
    }


#sunset {
    padding-bottom: 0;
    width: 100%;
     
    
    }
 
    
#navigation {
    grid-area: navigation;
    background-color: navy;
    color: black;
    
    }
    
 ul li {
        display: inline-block;
        border-bottom-width: 1px;
        border-color: black;
    }


    
 #kortom {
    grid-area: kortom;
    justify-content: center;
    text-align: center;
     background-color: sandybrown;
    
}
    
#link1 {
    grid-area: link1;
    
   
}

#link2 {
    grid-area: link2;
    
}

#link3 {
    grid-area: link3;
    
}

#link4{
    grid-area: link4;
}

#link5{
    grid-area: link5;
}

#link6{
    grid-area: link6;
}

#link7{
    grid-area: link7;
}

#link8{
    grid-area: link8;
}

#link9{
    grid-area: link9;
}

#link10{
    grid-area: link10; 
}

#link11{
    grid-area: link11;
}

#link12{
    grid-area: link12;
}

#link13{
    grid-area: link13;
}

#link14{
    grid-area: link14;
}

#citeret{
    grid-area: huset;
    
}

#virk{
    grid-area: virk;
}


#formodel{
    grid-area: formodel;
}


#kendesigselv{
    grid-area: kendesigselv;
}

#mission{
    grid-area: mission;
}

#metode{
    grid-area: metode;
}

#arketyper{
    grid-area: arketyper;
}

#business{
    grid-area: business;
}

#forretning{
    grid-area: forretning;
}

#busbilleder{
    grid-area: busbilleder;
}

#value{
    grid-area: value;
}

#kunde{
    grid-area: kunde;
}

#valueet{
    grid-area: valueet;
}

#match{
    grid-area: match;
}

#opgbilled{
    grid-area: opgbilled;
}

#andet{
    grid-area: andet;
}

footer {
    grid-area: footer;
    position: relative;
    text-align: center;
    color: black;
    
    
    
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ocean {
    width: 100%;
}
       
blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*tablet*/
@media screen and (min-width:768px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
         grid-template-areas: 
             "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
             "link4"
             "link5"
             "link6"
             "link7"
             "link8"
             "link9"
             "link10"
             "link11"
             "link12"
             "link13"
             "link14"
             "citeret"
             "virk"
             "formodel"
             "kendesigselv"
             "mission"
             "metode"
             "arketyper"
             "business"
             "busbilleder"
             "value"
             "kunde"
             "valueet"
             "match"
             "opgbilled"
             "andet"
             "footer";
    }

    
    body {
        background-color: royalblue;}
    
    #kortom{
        background-color: blue;
    }
    
   #ocean {
    height: 200px; 
} 
    
}

@media screen and (min-width:1200px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
         grid-template-areas: 
             "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
             "link4"
             "link5"
             "link6"
             "link7"
             "link8"
             "link9"
             "link10"
             "link11"
             "link12"
             "link13"
             "link14"
             "citeret"
             "virk"
             "formodel"
             "kendesigselv"
             "mission"
             "metode"
             "arketyper"
             "business"
             "busbilleder"
             "value"
             "kunde"
             "valueet"
             "match"
             "opgbilled"
             "andet"
             "footer";
    }
    
    
    body{
        background-color: cadetblue;
    }
    
    #kortom {
    grid-area: kortom;
    position: relative;
        text-align: center;
    color: black;
     background-color: teal;
    
}

#citeret{
    grid-area: huset;
     position: relative;
        text-align: center;
    color: black;
}

#virk{
    grid-area: virk;
     position: relative;
        text-align: center;
    color: black;
}


#formodel{
    grid-area: formodel;
     position: relative;
        text-align: center;
    color: black;
}

#kendesigselv{
    grid-area: kendesigselv;
     position: relative;
        text-align: center;
    color: black;
}

#mission{
    grid-area: mission;
     position: relative;
        text-align: center;
    color: black;
}

#metode{
    grid-area: metode;
     position: relative;
        text-align: center;
    color: black;
}

#arketyper{
    grid-area: arketyper;
     position: relative;
        text-align: center;
    color: black;
}

#business{
    grid-area: business;
     position: relative;
        text-align: center;
    color: black;
}

#forretning{
    grid-area: forretning;
     position: relative;
        text-align: center;
    color: black;
}

#busbilleder{
    grid-area: busbilleder;
     position: relative;
        text-align: center;
    color: black;
}

#value{
    grid-area: value;
     position: relative;
        text-align: center;
    color: black;
}

#kunde{
    grid-area: kunde;
     position: relative;
        text-align: center;
    color: black;
}

#valueet{
    grid-area: valueet;
     position: relative;
        text-align: center;
    color: black;
}

#match{
    grid-area: match;
     position: relative;
        text-align: center;
    color: black;
}

#opgbilled{
    grid-area: opgbilled;
     position: relative;
        text-align: center;
    color: black;
}

#andet{
    grid-area: andet;
     position: relative;
        text-align: center;
    color: black;
}


    
    }