 #pagewrap {
        display: grid;
         grid-gap: 0em;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
             "bedre"
             "flex"
             "grid"
             "column"
             "elementer"
             "forskel"
             "oevelsenret"
             "oevelsenrto"
             "oevelsenrfire"
             "footer";
    }
  
#pagewrap {
        width: 100%;
    }
    body {
        background-color: bisque;}

    body, html {
        margin: 1 em;
        padding: 0;
        width: 100%;}
    
header  {
    grid-area: header;
    padding-bottom: 0;
    width: 100%;
     
    
    }


#sunset {
    padding-bottom: 0;
    width: 100%;
     
    
    }
 
    
#navigation {
    grid-area: navigation;
    background-color: navy;
    color: black;
    
    }
    
 ul li {
        display: inline-block;
        border-bottom-width: 1px;
        border-color: black;
    }


    
 #kortom {
    grid-area: kortom;
    justify-content: center;
    text-align: center;
     background-color: sandybrown;
    
}
    
#link1 {
    grid-area: link1;
    
   
}

#link2 {
    grid-area: link2;
    
}

#link3 {
    grid-area: link3;
    
}

#link4 {
    grid-area: link4;
   
}

#link5{
    grid-area: link5;
    
}

#link6 {
    grid-area: link6;
}

#bedre{
    grid-area: bedre;
}

#flex{
    grid-area: flex;
}

#grid{
    grid-area: grid;
}

#column{
    grid-area: column;
}

#elementer{
    grid-area: elementer;
}

#forskel{
    grid-area: forskel;
}

#oevelsenret{
    grid-area: oevelsenret;
}

#oevelsenrto{
    grid-area: oevelsenrto;
}

#oevelsenrfire{
    grid-area: oevelsenrfire;
}

footer {
    grid-area: footer;
    position: relative;
    text-align: center;
    color: black;   
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ocean {
    width: 100%;
}
    
blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}

/*tablet*/
@media screen and (min-width:768px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr;
         grid-template-areas: 
         "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
             "bedre"
             "flex"
             "grid"
             "column"
             "elementer"
             "forskel"
             "oevelsenret"
             "oevelsenrto"
             "oevelsenrfire"
             "footer";
    }

    
    body {
        background-color: royalblue;}
    
    #kortom{
        background-color: blue;
    }
    
   #ocean {
    height: 200px; 
} 
 
    
}

@media screen and (min-width:1000px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
           "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
             "bedre"
             "flex"
             "grid"
             "column"
             "elementer"
             "forskel"
             "oevelsenret"
             "oevelsenrto"
             "oevelsenrfire"
             "footer";
    }
    
    #kortom {
    grid-area: kortom;
    position: relative;
    text-align: center;
    color: black;
     background-color: teal;
    
}
    h1 {
       position: relative;
    text-align: center;
    color: black; 
    }
    
    
    body{
        background-color: cadetblue;
    }
    
#bedre{
    grid-area: bedre;
     position: relative;
    text-align: center;
    color: black;
    
}

#flex{
    grid-area: flex;
     position: relative;
    text-align: center;
    color: black;
}

#grid{
    grid-area: grid;
     position: relative;
    text-align: center;
    color: black;
}


#column{
    grid-area: column;
    position: relative;
     text-align: center;
}

#elementer{
    grid-area: elementer;
     position: relative;
    text-align: center;
    color: black;
}

#forskel{
    grid-area: forskel;
     position: relative;
    text-align: center;
    color: black;
}

   #oevelsenret{
    grid-area: oevelsenret;
     position: relative;
    text-align: center;
    color: black;
} 
    
       #oevelsenrto{
    grid-area: oevelsenrto;
     position: relative;
    text-align: center;
    color: black;
} 
    
           #oevelsenrfire{
    grid-area: oevelsenrfire;
     position: relative;
    text-align: center;
    color: black;
} 
    
    }