 #pagewrap {
        display: grid;
         grid-gap: 0em;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "hypertext"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
            "link7" 
             "link8" 
             "link9"
            "link10"
             "link11"
             "link12"
             "link13"
             "kortom"
             "ombrackets"
             "htmlibrackets"
             "elementeri"
             "headings"
             "semantisk"
             "indhold"
             "sektioner"
             "paragraph"
             "lister"
             "hyper"
             "attribut"
             "billeder"
             "kommentarer"
             "validering"
             "footer";
    }
  
#pagewrap {
        width: 100%;
    }
    body {
        background-color: bisque;}

    body, html {
        margin: 1 em;
        padding: 0;
        width: 100%;}
    
header  {
    grid-area: header;
    padding-bottom: 0;
    width: 100%;
     
    
    }


#sunset {
    padding-bottom: 0;
    width: 100%;
     
    
    }
 
    
#navigation {
    grid-area: navigation;
    background-color: navy;
    color: black;
    
    }
    
 ul li {
        display: inline-block;
        border-bottom-width: 1px;
        border-color: black;
    }


    
 #hypertext {
    grid-area: hypertext;
    justify-content: center;
    text-align: center;
     background-color: sandybrown;
    
}
    
#link1 {
    grid-area: link1;
    
   
}

#link2 {
    grid-area: link2;
    
}

#link3 {
    grid-area: link3;
    
}

#link4 {
    grid-area: link4;
   
}

#link5{
    grid-area: link5;
    
}

#link6 {
    grid-area: link6;
}

#link7 {
    grid-area: link7;
    
}

#link8 {
    grid-area: link8;
   
}

#link9 {
    grid-area: link9;
}

#link10 {
    grid-area: link10;
}

#link11 {
    grid-area: link11;
}

#link12{
    grid-area: link12;
}

#link13 {
    grid-area: link13;
}

#kortom {
    grid-area: kortom;
    
}

#ombrackets {
    grid-area: ombrackets;
}

#htmlibrackets{
    grid-area: htmlibrackets;
}

#elementeri {
    grid-area: elementeri;
}

#headings{
    grid-area: headings;
}

#semantisk{
    grid-area: semantis;
}

#indhold {
    grid-area: indhold;
}

#sektioner {
    grid-area: sektioner;
}

#paragraph{
    grid-area: paragraph;
}

#lister{
    grid-area: lister;
}

#hyper{
    grid-area: hyper;
    
}

#attribut{
    grid-area: attribut;
}

#billeder{
    grid-area: billeder;
}

#kommentarer{
    grid-area: kommentarer;
}

#validering{
    grid-area: validering; 
}

footer {
    grid-area: footer;
    position: relative;
    text-align: center;
    color: black;  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ocean {
    width: 100%;
}
    
blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;
}


/*tablet*/
@media screen and (min-width:768px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "hypertext"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
            "link7" 
             "link8" 
             "link9"
            "link10"
             "link11"
             "link12"
             "link13"
             "kortom"
             "ombrackets"
             "htmlibrackets"
             "elementeri"
             "headings"
             "semantisk"
             "indhold"
             "sektioner"
             "paragraph"
             "lister"
             "hyper"
             "attribut"
             "billeder"
             "kommentarer"
             "validering"
             "footer";
    }

    
    body {
        background-color: royalblue;}
    
    #hypertext{
        background-color: blue;
    }
    
   #ocean {
    height: 200px; 
} 
 
}



@media screen and (min-width:1000px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr;
         grid-template-areas: 
           "header"
            "navigation"
            "hypertext"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
            "link7" 
             "link8" 
             "link9"
            "link10"
             "link11"
             "link12"
             "link13"
             "kortom"
             "ombrackets"
             "htmlibrackets"
             "elementeri"
             "headings"
             "semantisk"
             "indhold"
             "sektioner"
             "paragraph"
             "lister"
             "hyper"
             "attribut"
             "billeder"
             "kommentarer"
             "validering"
             "footer";
    }
    
    body{
        background-color: cadetblue;
    }
    
    #hypertext {
    grid-area: hypertext;
    position: relative;
    text-align: center;
    color: black;
     background-color: teal;
    
}
    
#kortom {
    grid-area: kortom;
        position: relative;
    text-align: center;
    color: black;  
}

#ombrackets {
    grid-area: ombrackets;
    position: relative;
    text-align: center;
    color: black;
}

#htmlibrackets{
    grid-area: htmlibrackets;
    position: relative;
    text-align: center;
    color: black;
}
    
#elementeri{
    grid-area: elementeir;
    position: relative;
    text-align: center;
    color: black;
}

#headings{
    grid-area: headings;
    position: relative;
    text-align: center;
    color: black;
}

#semantisk{
    grid-area: semantisk;
    position: relative;
    text-align: center;
    color: black;
}

#indhold{
    grid-area: indhold;
    position: relative;
    text-align: center;
    color: black;
}

#sektioner{
    grid-area: sektioner;
    position: relative;
    text-align: center;
    color: black;
}

#paragraph{
    grid-area: paragraph;
    position: relative;
    text-align: center;
    color: black;
}

#lister{
    grid-area: lister;
    position: relative;
    text-align: center;
    color: black;
}

#hyper{
    grid-area: hyper;
    position: relative;
    text-align: center;
    color: black;
    
}

#attribut{
    grid-area: attribut;
    position: relative;
    text-align: center;
    color: black;
}

#billeder{
    grid-area: billeder;
    position: relative;
    text-align: center;
    color: black;
}

#kommentarer{
    grid-area: kommentarer;
    position: relative;
    text-align: center;
    color: black;
}

#validering{
    grid-area: validering;
    position: relative;
    text-align: center;
    color: black;
}
}



    

