#pagewrap {
        display: grid;
         grid-gap: 0em;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5"
             "link6"
             "link7"
             "link8"
             "link9"
             "citeret"
             "gointer"
             "fokus"
             "godt"
             "observation"
             "deltager"
             "typer"
             "inter"
             "interview"
             "steiner"
             "footer";
    }
  
#pagewrap {
        width: 100%;
    }
    body {
        background-color: bisque;}

    body, html {
        margin: 1 em;
        padding: 0;
        width: 100%;}
    
header  {
    grid-area: header;
    padding-bottom: 0;
    width: 100%;
     
    
    }


#sunset {
    padding-bottom: 0;
    width: 100%;
     
    
    }
 
    
#navigation {
    grid-area: navigation;
    background-color: navy;
    color: black;
    
    }
    
 ul li {
        display: inline-block;
        border-bottom-width: 1px;
        border-color: black;
    }


    
 #kortom {
    grid-area: kortom;
    justify-content: center;
    text-align: center;
     background-color: sandybrown;
    
}
    
#link1 {
    grid-area: link1;
    
   
}

#link2 {
    grid-area: link2;
    
}

#link3 {
    grid-area: link3;
    
}

#link4 {
    grid-area: link4;
   
}

#link5{
    grid-area: link5;
}

#link6{
    grid-area: link6;
}

#link7{
    grid-area: link7;
}

#link8{
    grid-area: link8;
}

#link9{
    grid-area: link9;
}

#citeret{
    grid-area: citeret; 
}

#gointer{
    grid-area: gointer;
}

#fokus{
    grid-area: fokus;
}

#godt{
    grid-area: godt;
}

#observation{
    grid-area: observation;
}

#deltager{
    grid-area: deltager;
}

#typer{
    grid-area: typer;
}

#inter{
    grid-area: inter;
}

#interview{
    grid-area: interview;
}

#steiner{
    grid-area: steiner;
}

footer {
    grid-area: footer;
    position: relative;
    text-align: center;
    color: black;   
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ocean {
    width: 100%;
}
    
blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;
}

    

@media screen and (min-width:768px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr;
         grid-template-areas: 
           "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5"
             "link6"
             "link7"
             "link8"
             "link9"
             "citeret"
             "gointer"
             "fokus"
             "godt"
             "observation"
             "deltager"
             "typer"
             "inter"
             "interview"
             "steiner"
             "footer";
    }

    
    body {
        background-color: royalblue;
    }
    
    #kortom{
        background-color: blue;
    } 
    
    #ocean{
        height: 200px;
    }
}



@media screen and (min-width: 1200px){
#pagewrap {
         display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr;
         grid-template-areas: 
        "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5"
             "link6"
             "link7"
             "link8"
             "link9"
             "citeret"
             "gointer"
             "fokus"
             "godt"
             "observation"
             "deltager"
             "typer"
             "inter"
             "interview"
             "steiner"
             "footer";
    }

    body {
        background-color: cadetblue;
    }
    
    #kortom{
        grid-area: kortom;
        position: relative;
        text-align: center;
        color: black;
        background-color: teal;
    }

 #citeret{
    grid-area: citeret;
     position: relative;
        text-align: center;
        color: black;
}

#gointer{
    grid-area: gointer;
    position: relative;
        text-align: center;
        color: black;
}

#fokus{
    grid-area: fokus;
    position: relative;
        text-align: center;
        color: black;
}

#godt{
    grid-area: godt;
    position: relative;
        text-align: center;
        color: black;
}

#observation{
    grid-area: observation;
    position: relative;
        text-align: center;
        color: black;
}

#deltager{
    grid-area: deltager;
    position: relative;
        text-align: center;
        color: black;
}

#typer{
    grid-area: typer;
    position: relative;
        text-align: center;
        color: black;
}

#inter{
    grid-area: inter;
    position: relative;
        text-align: center;
        color: black;
}

#interview{
    grid-area: interview;
    position: relative;
        text-align: center;
        color: black;
}

#steiner{
    grid-area: steiner;
    position: relative;
        text-align: center;
        color: black;
}
}