 #pagewrap {
        display: grid;
         grid-gap: 0em;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5"
             "godt"
             "let"
             "alle"
             "Git"
             "Begreber"
             "footer";
    }
  
#pagewrap {
        width: 100%;
    }
    body {
        background-color: bisque;}

    body, html {
        margin: 1 em;
        padding: 0;
        width: 100%;}
    
header  {
    grid-area: header;
    padding-bottom: 0;
    width: 100%;
     
    
    }


#sunset {
    padding-bottom: 0;
    width: 100%;
     
    
    }
 
    
#navigation {
    grid-area: navigation;
    background-color: navy;
    color: black;
    
    }
    
 ul li {
        display: inline-block;
        border-bottom-width: 1px;
        border-color: black;
    }


    
 #kortom {
    grid-area: kortom;
    justify-content: center;
    text-align: center;
     background-color: sandybrown;
    
}
    
#link1 {
    grid-area: link1;
    
   
}

#link2 {
    grid-area: link2;
    
}

#link3 {
    grid-area: link3;
    
}

#link4 {
    grid-area: link4;
   
}

#link5{
    grid-area: link5;
    
}

#godt{
    grid-area: godt;
    
}

#let{
    grid-area: let;
}


#alle{
    grid-area: alle;
}


#git{
    grid-area: git;
    width: 100%;
}

#Begreber{
    grid-area: Begreber;
    width: 100%;
}


footer {
    grid-area: footer;
    position: relative;
    text-align: center;
    color: black;
    
    
    
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ocean {
    width: 100%;
}
    
 
     

    

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


 




/*tablet*/
@media screen and (min-width:768px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr 1fr;
         grid-template-areas: 
             "header header"
            "navigation navigation"
            "hypertext hypertext"
            "link1 link2"  
             "link3 link4"
             "link5 ."
             "godt let"
            "alle git"
           "Begreber Begreber"
             "footer footer";
    }

    
    body {
        background-color: royalblue;}
    
    #kortom{
        background-color: blue;
    }
    
    
   #ocean {
    height: 200px; 
} 
 
    #Kommentarer {
    grid-area: kommentarer;
        background-color: blue; 
}
    
}

@media screen and (min-width:1000px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-template-columns: 1fr 1fr;
         grid-template-areas: 
             "header header"
            "navigation navigation"
            "hypertext hypertext"
            "link1 link2"  
             "link3 link4"
             "link5 ."
             "godt let"
            "alle git"
           "Begreber Begreber"
             "footer footer";
    }
    
    
    body{
        background-color: cadetblue;
    }
    
    #kortom {
    grid-area: kortom;
    position: relative;
        text-align: center;
    color: black;
     background-color: teal;
    
}
    
    #godt{
    grid-area: godt;
         position: relative;
        text-align: center;
    color: black;
    
}

#let{
    grid-area: let;
     position: relative;
        text-align: center;
    color: black;
}


#alle{
    grid-area: alle;
     position: relative;
        text-align: center;
    color: black;
}


#git{
    grid-area: git;
     position: relative;
        text-align: center;
    color: black;
}

#Begreber{
    grid-area: Begreber;
     position: relative;
        text-align: center;
    color: black;
}
    
    }