 #pagewrap {
        display: grid;
         grid-gap: 0em;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
            "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
            "link7" 
             "link8" 
             "begrebet"
             "hardvssoft"
             "forskellig"
             "klienterne"
             "clientserver"
             "webserver"
             "adgang"
             "ftpsection"
             "website"
             "topsi"
             "domain"
             "dynamisk"
             "dynamisknavn"
             "footer";
    }
  
#pagewrap {
        width: 100%;
    }
    body {
        background-color: bisque;}

    body, html {
        margin: 1 em;
        padding: 0;
        width: 100%;}
    
header  {
    grid-area: header;
    padding-bottom: 0;
    width: 100%;
     
    
    }


#sunset {
    padding-bottom: 0;
    width: 100%;
     
    
    }
 
    
#navigation {
    grid-area: navigation;
    background-color: navy;
    color: black;
    
    }
    
 ul li {
        display: inline-block;
        border-bottom-width: 1px;
        border-color: black;
    }


    
 #kortom {
    grid-area: kortom;
    justify-content: center;
    text-align: center;
     background-color: sandybrown;
    
}
    
#link1 {
    grid-area: link1;
    
   
}

#link2 {
    grid-area: link2;
    
}

#link3 {
    grid-area: link3;
    
}

#link4 {
    grid-area: link4;
   
}

#link5{
    grid-area: link5;
    
}

#link6 {
    grid-area: link6;
}

#link7 {
    grid-area: link7;  
}

#link8 {
    grid-area: link8;  
}

#begrebet{
    grid-area: begrebet;
    
}

#hardvssoft{
    grid-area: hardvssoft;
}

#forskellig{
    grid-area: forskellig;
}

#klienterne{
    grid-area: klienterne;
}

#clientserver{
    grid-area: clientserver;
}


#webserver{
    grid-area: webserver;
}

#adgang{
    grid-area: adgang;
}

#ftpsection{
    grid-area: ftpsection;
}

#website{
    grid-area: website;
}

#topsi{
    grid-area: topsi;
}

#domain{
    grid-area: domain;
}

#dynamisk{
    grid-area: dynamisk;
}

#dynamisknavn{
    grid-area: dynamisknavn;
}

footer {
    grid-area: footer;
    position: relative;
    text-align: center;
    color: black;    
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ocean {
    width: 100%;
}
    
blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;
}


/*tablet*/
@media screen and (min-width:768px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-gap: 0em;
         grid-template-columns: 1fr;
         grid-template-areas: 
             "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
            "link7" 
             "link8" 
             "begrebet"
             "hardvssoft"
             "forskellig"
             "klienterne"
             "clientserver"
             "webserver"
             "adgang"
             "ftpsection"
             "website"
             "topsi"
             "domain"
             "dynamisk"
             "dynamisknavn"
             "footer";
    }

    
    body {
        background-color: royalblue;}
    
    #kortom{
        background-color: blue;
    }
    
   #ocean {
    height: 200px; 
    } 
    
}

@media screen and (min-width:1000px){
    #pagewrap{
    display: grid;
        width: 100%;
         grid-template-columns: 1fr;
         grid-template-areas: 
             "header"
            "navigation"
            "kortom"
            "link1" 
             "link2" 
             "link3"
            "link4"
             "link5" 
             "link6"
            "link7" 
             "link8" 
             "begrebet"
             "hardvssoft"
             "forskellig"
             "klienterne"
             "clientserver"
             "webserver"
             "adgang"
             "ftpsection"
             "website"
             "topsi"
             "domain"
             "dynamisk"
             "dynamisknavn"
             "footer";
    }
    
    
    body{
        background-color: cadetblue;
    }
    
       #kortom {
    grid-area: kortom;
    position: relative;
    text-align: center;
    color: black;
     background-color: teal; 
}
    
    #begrebet{
    grid-area: begrebet;
    position: relative;
    text-align: center;
    color: black; 
}
    
  #hardvssoft{
    grid-area: hardvssoft;
    position: relative;
    text-align: center;
      color: black; 
    }  
   
#forskellig{
    grid-area: forskellig;
    position: relative;
    text-align: center;
      color: black; 
    } 

#klienterne{
    grid-area: klienterne;
     position: relative;
    text-align: center;
    color: black;   
}

#clientserver{
    grid-area: clientserver;
     position: relative;
    text-align: center;
    color: black;
}

#webserver{
    grid-area: webserver;
     position: relative;
    text-align: center;
    color: black;
}

#adgang{
    grid-area: adgang;
     position: relative;
    text-align: center;
    color: black;
}

#ftpsection{
    grid-area: ftpsection;
     position: relative;
    text-align: center;
    color: black;
}


#website{
    grid-area: website;
     position: relative;
    text-align: center;
    color: black;
}
    
#topsi{
    grid-area: topsi;
     position: relative;
    text-align: center;
    color: black;
}

#domain{
    grid-area: domain;
     position: relative;
    text-align: center;
    color: black;
    
}

#dynamisk{
    grid-area: dynamisk;
     position: relative;
    text-align: center;
    color: black;
}

#dynamisknavn{
    grid-area: dynamisknavn;
     position: relative;
    text-align: center;
    color: black;
}

    
    }